<div class="navbar">
      <h1>Restaurants</h1>
    
      <div class="navbar-links">
      <%= link_to "Restaurant List", restaurant_list_path %> 
      <%= link_to "New Restaurants", new_restaurant_path %>
    </div>
  </div>
  <div class="container">
  
</div>