<div class="navbar">
    <div class="navbar-logo">
      <h3 class="logo"><i class="fab fa-affiliatetheme"></i></h3>
      <h1>Restaurants</h1>
      <div class="navbar-links">
      <%= link_to "List of Restaurants", restaurant_list_path %></li>
    </div>
    </div>
  </div>
  <div class="container">
  
    </div>