// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  height: 70px;
  box-shadow: var(--shadow);
  background-color:brown;
  color: rgb(0, 0, 0);
}

.navbar-logo {
  float:left;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 15px;
}

.navbar-links {
  // display: flex;
  padding-left: 500px;
  padding-top: 50px;
  float: right;
  height: 100%;
  // align-items: center;
  // justify-content: center;
}
.container {
  height: 90vh;
  background: url('./restaurant.jpg');
}